@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    background-color: #1B1B1B;
	font-weight:bold;
	font-family:sans-serif;
	font-size:120%;
}
input[type=button], input[type=submit] {
	border-style: solid;
	border-width: 1px;
	border-color: #4B4B4B;
	padding: 5px;
	border-radius: 5px;
	margin: 4px;
}
input[type=button]:hover, input[type=submit]:hover {
	background-color: #DDDDDD;
}
input[type=button]:active, input[type=submit]:active {
	background-color: #00FFFF;
}
input[type=button]:target, input[type=submit]:target {
	background-color: #00FFFF;
}
input[type=text], input[type=password] {
	border-style: solid;
	border-width: 1px;
	border-color: #4B4B4B;
	padding: 5px;
	border-radius: 5px;
	margin: 4px;
	box-sizing: border-box;
}
#connectedLeft {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: -3px;
}
#connectedRight {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: -3px;
}
#connectedCenter {
	border-radius: 0px;
	margin-right: -4px;
	margin-left: -3px;
}
.loginInput {
	width: 100%;
}
div.innerLoginBox {
	min-width: 200px;
	text-align: center;
}
.page-title {
    color:#FFFFFF;
	text-align: center;
    bottom: 6px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px 3px #808080;
    line-height: 100px;
    margin-top: 100px;
}

.dunkelgraubox {
    color: white;
    background-color:#333;
    padding:6px;
    margin:6px;
    border:none;
    min-width:600px;
}

.dunkelgrauboxFloat {
    color: white;
	background-color:#333;
	padding:6px;
	margin: 20px;
	float:left;
}

.dunkelgrauboxFloatLR {
    color: white;
	background-color:#333;
	padding: 6px;
	margin: 20px;
	width: 97%;
	float: left;
}
