@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
	background-image: linear-gradient(to bottom right, #00FFFF, #BB00FF);
    /*background-image: url("rcs/HQ-fancy-noise.png");*/
	background-repeat: no-repeat;
	background-size: cover;
    background-color: #1B1B1B99;
	font-weight:bold;
	font-family:sans-serif;
	font-size:120%;
}
.rowcontainer {
	display: table;
}
.rowcontainer > * {
	display: table-row;
}
.rowcontainer > * > p {
	margin: 5px;
}
input, button {
	background-color: #444444;
	color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #4B4B4B;
	padding: 5px;
	border-radius: 5px;
	margin: 4px;
}
input[type=button]:hover, input[type=submit]:hover, button:hover {
	background-color: #333333;
}
input[type=button]:active, input[type=submit]:active, button:active {
	background-color: #00FFFF;
}
input[type=button]:target, input[type=submit]:target, button:target {
	background-color: #00FFFF;
}
input[type=text], input[type=password] {
	box-sizing: border-box;
}
#connectedLeft {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: -3px;
}
#connectedRight {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: -3px;
}
#connectedCenter {
	border-radius: 0px;
	margin-right: -4px;
	margin-left: -3px;
}
.loginInput {
	width: 100%;
}
div.innerLoginBox {
	min-width: 200px;
	text-align: center;
}
.page-title {
    color:#FFFFFF;
	text-align: center;
    bottom: 6px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px 3px #808080;
    line-height: 100px;
}

.dunkelgraubox {
    color: white;
    background-color:#333;
    padding:5px;
    margin:5px;
    border:none;
    min-width:600px;
}

.dunkelgrauboxFloat {
    color: white;
	background-color:#333;
	padding:5px;
	margin: 5px;
	float:left;
}

.dunkelgrauboxFloatLR {
    color: white;
	background-color:#333;
	padding: 5px;
	margin: 5px;
	width: 97%;
	float: left;
}
h2 {
	font-size: 40px;
	padding-left: 10px;
	color: #FF0000;
}
.phosphorus-placeholder {
	width: 482px;
	height: 400px;
	background-color: #AA0000;
}
.content {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 140px;
    margin-top: 100px;
}
footer {
    position: fixed;
    color: white;
    margin: 0;
    padding: 5px;
    background-color: #222222;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
	height: 100px;
	box-shadow: 0px -5px 10px #00000022;
}
.footerLeft {
    margin-left: 10%;
    float: left;
}
.footerRight {
    margin-right: 10%;
    float: right;
}
.projectContainer > * {
	min-height: 425px;
	width: 482px;
}
